
<div class="col-md-3">
<form #searchForm="ngForm">
		<div class="input-group form-group">
			<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i> </span>
			<input type="text" class="form-control" id="search" name="search" (keyup) = "doSearch($event)" placeholder="Search for a Game...">
		</div>
	</form>
</div>

<div class="col-md-8">

<div class="row">
	<div class="col-md-12">
		<div class="centerBlock">
			<div class="btn-group btn-group-lg btn-block">
				<button *ngIf="page > 1" class="btn btn-primary btn-outline" (click)="previousPage()">Previous</button>
				<button *ngFor="let page of pages" class="btn btn-primary btn-outline"(click)="gotoPage(page)">{{page}}</button>
				<button *ngIf="page < maxPages" class="btn btn-primary btn-outline" (click)="nextPage()">Next</button>
			</div>
		</div>
	</div>
</div>

</div><!--end col 3-->