<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align: center">FAQ</h1>
			<p style="text-align: center">Here is a list of Frequently asked questions which we feel will help you to understand Gamer Finder</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2><span class="label label-success">BETA Message </span></h2>
			<br>
			<p>It's still early days here. If you have any questions that should be listed here, please email them to: <a href="mailto://questions@gamerfinder.net">questions@gamerfinder.net</a>
		</div>
		<div class="col-md-4">
			<ul class="list-group" style="color: black">
				<li class="list-group-item list-group-item-info">What is Gamer Finder</li>
				<li class="list-group-item">
					<p>We all have games on our Steam list that are no fun on single player, but our friends don't want to play.</p>
					<h4 style="text-align: center">Gamer Finder is here to tackle this problem!</h4>
					<br>
					<p>Once you sign up, the Gamer Finder system will let you submit <strong>"I want to play"</strong> Requests which you, or other players, can browse through to find someone to join you on your latest adventure.</p>
				</li>
			</ul>
			<ul class="list-group" style="color: black">
				<li class="list-group-item list-group-item-info">How does it work?</li>
				<li class="list-group-item">
					<p>Once you sign up, the Gamer Finder system will let you submit <strong>"I want to play"</strong> Requests which you, or other players, can browse through to find someone to join you on your latest adventure.</p>
					<p>To do this you simply select any game that's displayed anywhere on the website and click "create a request".</p>
					<p>After that it's just as simple as entering your age and selecting whether or not a microphone is required.</p>
					<br>
					<p>Now other players who are browsing their games will be able to choose your request and play your game with you!</p>
				</li>
			</ul>
			<ul class="list-group" style="color: black">
				<li class="list-group-item list-group-item-info">What about safety?</li>
				<li class="list-group-item">
					<p>Safety has been one of our primary concerns as we created Gamer Finder.</p>
					<p>This is particularly true when considering that teenagers will want to use Gamer Finder.</p>
					<p>So we have set a few restrictions in place:</p>
					<ul>
						<li>Nobody under 13 can join Gamer Finder</li>
						<li>Everybody under 18 must get the consent of their parents, and their parents must give us their email address. This allows us to inform parents of how their child interacts with the website, and let's us inform the parent if we feel concerned about something they are doing on Gamer Finder</li>
						<li>Nobody under 18 can interact with adults while using Gamer Finder. Their requests are hidden from each other and they cannot create messages to each other</li>
						<li>As part of our Privacy Policy, We will monitor messages sent between users under 18. By this we mean we will randomly look at the thread of young users. The purpose of this is to catch any innapropriate behaviour from older teenagers.</li>
						<li>We will closely monitor the messages sent to/from a user who has been reported, if we did not have enough evidence to ban him/her</li>
						<li>There is an absolute <strong>NO TOLERANCE</strong> attitude on Gamer Finder. <strong>Any</strong> sexual or otherwise innapropriate messages caught my our moderators will result in an immediate ban and the parents of all the teenagers who were incontact with the banned user will be informed by email.</li>
					</ul>
					<p>In addition to all of the above, We are developing a system to automatically flag up messages which may be cause for concern.</p>
					<br>
					<p>And lastly, there is a <strong>Report Abuse</strong> button attached to every profile, adult or teenager</p>
				</li>
			</ul>
		</div>
	</div>
</div>