<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align: center">Changes</h1>
			<p style="text-align: center">On this page you can find a history of all the changes we have made, and how recently we have made them.</p>
			<p style="text-align: center">If you find a bug on the website, please check if it is a listed bug or an incomplete feature below.<p>
			<p style="text-align: center">If it is an un-listed bug, Please <a href="https://github.com/jamiemac262/gamerFinder/issues">Click here</a> for our bug tracker</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			
			<ul class="list-group" style="color: black">
				<li class="list-group-item list-group-item-info"><h2>Online Safety</h2></li>
				<li class="list-group-item">
					<p>Good day everyone! The Online safety feature is now functional!</p>
					<h3>Features:</h3>
					<ul>
						<li><strong>You can now report rule breakers!</strong> - This update finally adds functionality to the <strong>Report Abuse</strong> button on every public profile.</li>
						<li>The Report Abuse button can be found on every public profile page.</li>
						<li>You can use it when you believe someone has broken the rules that we all agreed to in the <a href="http://gamerfinder.net/policies.pdf">Privacy Policy & Terms of Use</a></li>
						<li>We have also fixed an annoying issue with the registration process. so new users should now be able to access their profiles without difficulties</li>
						
					</ul>
					<br>
					<h3>Bugs and Incomplete features:</h3>
					<ul>
						<li><sup class="label label-success">Done</sup>Online Safety<br>
							<ul>
								<li>The "Report Abuse" button on public profiles does not work yet.</li>
							</ul>	
						</li>
						<li><sup class="label label-danger">Bug</sup>The navigation bar does not expand from it's collapsed state when activated on mobile devices.</li>
						<li><sup class="label label-danger">Bug</sup>Sometimes stuff just doesn't function and there's no rhyme or reason as to why</li>
					</ul>
					<h3>Planned changes for next release:</h3>
					<ul>
						<li><sup class="label label-warning">In Progress</sup>Give users the ability to "Accept" another user's request - This should start a message thread with the user and email the Request sender</li>
						<li><sup class="label label-danger">Not Started</sup>Messenger<sup>V2</sup></li>
						
					</ul>
				</li>
			</ul>
			<ul class="list-group" style="color: black">
				<li class="list-group-item list-group-item-info"><h2>Messenger<sup>V1</sup></h2></li>
				<li class="list-group-item">
					<p>Good news everyone! The messenger feature is now functional!</p>
					<h3>Features:</h3>
					<ul>
						<li><strong>You can now send private messeges!</strong> - When you've found someone to game with you, You're going to need a way to give them information (VOIP, game server etc)</li>
						<li>To use the messenger you need to click the "contact" button  on the desired user's <strong>public profile</strong></li>
						<li>When you do that the Messenger<sup>V1</sup> will send you to the Messeges page. If you have never contacted this person before, a new thread will be created.</li>
						<li>This is just the first implementation of Messeneger. Messenger<sup>V2</sup> will be more intuitive, with features like automatically selecting the desired thread, and telling the user which request you accepted.</li>
					</ul>
					<br>
					<h3>Bugs and Incomplete features:</h3>
					<ul>
						<li><sup class="label label-success">Done</sup>Private Messages</li>
						<li><sup class="label label-warning">Incomplete</sup>Online Safety<br>
							<ul>
								<li>The "Report Abuse" button on public profiles does not work yet.</li>
								<li>Until the online safety features for under 18's are complete, Under 18's will not be allowed to join Gamer Finder</li>
							</ul>	
						</li>
						<li><sup class="label label-danger">Bug</sup>The navigation bar does not expand from it's collapsed state when activated on mobile devices.</li>
						<li><sup class="label label-danger">Bug</sup>Sometimes stuff just doesn't function and there's no rhyme or reason as to why</li>
					</ul>
					<h3>Planned changes for next release:</h3>
					<ul>
						<li><sup class="label label-warning">In Progress</sup>Give users the ability to "Accept" another user's request - This should start a message thread with the user and email the Request sender</li>
						<li><sup class="label label-success">Done</sup>Ability to create a new message thread with users</li>
						<li><sup class="label label-danger">Not Started</sup>Messenger<sup>V2</sup></li>
						
					</ul>
				</li>
			</ul>
			<ul class="list-group" style="color: black">
				<li class="list-group-item list-group-item-info"><h2>Delete Requests</h2></li>
				<li class="list-group-item">
					<p>In the latest update to Gamer Finder We've worked a little towards expanding the requests feature. This is just a small update</p>
					<h3>Features:</h3>
					<ul>
						<li><strong>You can now delete Requests</strong> - When you've found someone to game with you, you may want a way to stop looking for more gamers. This is how you do it.</li>
						<li>It's simple, At any time you can open your profile where you will now see 2 new buttons. "Games" and "Requests"</li>
						<li>click on <strong>Requests</strong> and you will be able to choose which request you want to delete.</li>
						<li>We also added a footer to the website which just has the boring legal stuff that nobody really looks at.</li>
					</ul>
					<br>
					<h3>Bugs and Incomplete features:</h3>
					<ul>
						<li><sup class="label label-warning">Incomplete</sup>Private Messages</li>
						<li><sup class="label label-warning">Incomplete</sup>Online Safety<br>
							<ul>
								<li>The "Report Abuse" button on public profiles does not work yet.</li>
								
							</ul>	
						</li>
						<li><sup class="label label-danger">Bug</sup>The navigation bar does not expand from it's collapsed state when activated on mobile devices.</li>
						<li><sup class="label label-danger">Bug</sup>Sometimes stuff just doesn't function and there's no rhyme or reason as to why</li>
					</ul>
					<h3>Planned changes for next release:</h3>
					<ul>
						<li><sup class="label label-success">Done</sup>Give users the ability to delete their requests</li>
						<li><sup class="label label-warning">In Progress</sup>Give users the ability to "Accept" another user's request - This should start a message thread with the user and email the Request sender</li>
						<li><sup class="label label-success">Done</sup>Give user private profile a "requests" tab to view a list of all his/her requests</li>
						<li><sup class="label label-danger">Not Started</sup>Ability to create a new message thread with users</li>
					</ul>
				</li>
			</ul>
			<ul class="list-group" style="color: black">
				<li class="list-group-item list-group-item-info"><h2>Closed Beta</h2></li>
				<li class="list-group-item">
					<p>This is the first release of Gamer Finder.</p>
					<h3>Features:</h3>
					<ul>
						<li><strong>Sign in through steam.</strong> - We've managed to implement a "one-click" sign in with steam</li>
						<li>View a list of your games</li>
						<li>View a list of <strong>all</strong> games Gamer Finder knows about</li>
						<li>Every time you browse to your profile page, Gamer Finder looks for new games on your steam list and adds them to it's database</li>
						<li>You can submit an "I want to play" request for any game, Even if you don't own that game (Future releases of Gamer Finder may implement restrictions to prevent this)</li>
						<li>You can view another player's public profile. Which includes a list of all the requests he/she has sent.</li>
					</ul>
					<p>As this is a "closed beta" please do not pass the address out to anyone. Thanks</p>
					<br>
					<h3>Bugs and Incomplete features:</h3>
					<ul>
						<li>Private Messages(Incomplete Feature)</li>
						<li>Online Safety(Incomplete feature)<br>
							<ul>
								<li>The "Report Abuse" button on public profiles does not work yet.</li>
								
							</ul>	
						</li>
						<li>The navigation bar does not expand from it's collapsed state when activated on mobile devices.</li>
						<li>Sometimes stuff just doesn't function and there's no rhyme or reason as to why</li>
					</ul>
					<h3>Planned changes for next release:</h3>
					<ul>
						<li>Give users the ability to delete their requests</li>
						<li>Give users the ability to "Accept" another user's request - This should start a message thread with the user and email the Request sender</li>
						<li>Give user private profile a "requests" tab to view a list of all his/her requests</li>
						<li>Ability to create a new message thread with users</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>