<div class="container">

	<div class="row">
		<div class="col-md-3">
			<img src="{{user.picture['large']}}" class="center-block"/>
			<h1 style="text-align: center">{{user.username}}</h1>
			<p><a href="http://steamcommunity.com/profiles/{{user.steamID}}" class="btn btn-primary btn-outline btn-block"><i class="fa fa-steam-square" aria-hidden="true"></i> View Steam Profile</a></p>
			<p><a class="btn btn-success btn-outline btn-block" (click)="doContact()"><i class="fa fa-envelope" aria-hidden="true"></i> Contact</a></p>
			<p><a class="btn btn-danger btn-outline btn-block"><i class="fa  fa-exclamation-circle" aria-hidden="true"></i> Report Abuse</a></p>
		</div>
		<div class="col-md-9">
			<div *ngFor="let request of requests" style="color: black">
				<div *ngIf="!request.game.hidden" class="thumbnail" style="color: black" >
					<div class="row">
						<div class="col-md-3">
							<img #image src="http://cdn.edgecast.steamstatic.com/steam/apps/{{request.game.steamID}}/header.jpg" style="width: 100%; height: auto;" (error)="game.hidden = true">
						</div>
						<div class="col-md-9">
							<div class="row">
								<div class="col-md-12">
									<h2>
										{{request.game.name}}
										<span *ngIf="!request.mic" class="pull-right"><i class="fa fa-microphone-slash" aria-hidden="true"></i></span>
										<span *ngIf="request.mic" class="pull-right"><i class="fa fa-microphone" aria-hidden="true"></i></span>
									</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<p>Wants to play with: {{request.min}} years - {{request.max}} years<span class="pull-right">Since: {{request.since}}</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>