<div class="row setting">
		<h3>Settings</h3>
	</div>
<br>
<form #loginForm="ngForm" style="padding-left: 5%; padding-right: 5%;">
<div class="row setting">
	<div class="col-md-2">
		Steam ID
	</div>
	<div class="col-md-3">
		<p></p>
	</div>

</div>
<div class="row setting">
	<div class="col-md-2">
		Patreon ID
	</div>
	<div class="col-md-3"> <!--href="http://gamerfinder.net/classes/patreon/link.php"-->
		<a><img src="http://gamerfinder.net/images/patreon/connect-patreon.png"/>(Disabled)</a>
	</div>
</div>
<div class="row setting">
	<div class="col-md-2">
		Email
	</div>
	<div class="col-md-5">
		<p><p>
	</div>
	<div class="col-md-3">
		<a class="btn btn-success btn-outline">Edit</a>
	</div>
</div>
<div class="row setting">
	<div class="col-md-2">
		Contry
	</div>
	<div class="col-md-5">
		<p><p>
	</div>
	<div class="col-md-3">
		<a class="btn btn-success btn-outline">Edit</a>
	</div>
</div>
<div class="row setting">
	<div class="col-md-2">
		Language
	</div>
	<div class="col-md-5">
		<p><p>
	</div>
	<div class="col-md-3">
		<a class="btn btn-success btn-outline">Edit</a>
	</div>
</div>
<div class="row setting">
	<div class="col-md-2">
		Microphone
	</div>
	<div class="col-md-5">
		<p><p>
	</div>
	<div class="col-md-3">
		<a class="btn btn-success btn-outline">Edit</a>
	</div>
</div>
<div class="row setting">
	<div class="col-md-2">
		Discord
	</div>
	<div class="col-md-5">
		<p><p>
	</div>
	<div class="col-md-3">
		<a class="btn btn-success btn-outline">Edit</a>
	</div>
</div>
<div class="row setting">
	<div class="col-md-2">
		Teamspeak 3
	</div>
	<div class="col-md-5">
		<p><p>
	</div>
	<div class="col-md-3">
		<a class="btn btn-success btn-outline">Edit</a>
	</div>
</div>
<div class="row setting">
	<div class="col-md-2">
		Skype
	</div>
	<div class="col-md-5">
		<p><p>
	</div>
	<div class="col-md-3">
		<a class="btn btn-success btn-outline">Edit</a>
	</div>
</div>
</form>

